.review-item {
    width: 661px;
    border: 1px solid rgba(138, 133, 134, 0.256);
    border-radius: 8px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.review-item .product-title {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
}

.review-details {
    flex-grow: 1;
}

.review-details p {
    margin: 0 15px;
}

.review-item img {
    width: 96px;
    height: 91px;
    padding: 10px;
    border-radius: 6px;
}

.orange-text {
    color: orange;
}

.btn-delete {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: none;
    background-color: rgba(212, 118, 10, 0.522);
    color: rgba(189, 23, 23, 0.807);
    font-size: 28px;
    margin: 30px;
}

.btn-delete:hover {
    cursor: pointer;
    background-color: rgba(153, 85, 7, 0.501);
    color: rgba(2, 0, 0, 0.874);
}